@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-text-stroke {
    -webkit-text-stroke: 0.5px white; /* Reduced stroke thickness */
    text-stroke: 0.5px white;         /* Reduced stroke thickness */
  }
  
  /* Hide scrollbars */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
